@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  /* Använd fixed position för overlay */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  /* Flexbox för att centrera modalen */
  justify-content: center;
  /* Centrera horisontellt */
  align-items: center;
  /* Centrera vertikalt */
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  /* Gör modalen responsiv */
}